
form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 400px;
  font-size: 20px;
}
.items{
  align-items: center;
  text-align:center;
}

#form {
    text-align:center;
  }
  .btn{
    background: none;
    border: 2px solid #000;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
  }
  .btn:hover{
    color: #fff;
    background-color:#000;
  }
  main{
      font-family: 'Baloo 2', cursive;
  }
